.ads-form {
  .error {
    text-align: center;
    color: #e9ec09;
    font-size: 0.97rem;
    margin-top: -.7rem;
    // margin-bottom: -.1rem;
    // background: rgba(245, 12, 52, 0.05);
    // border-left: .5rem solid #d90036;
    padding: 3px 10px;
    border-radius: 0 7px 7px 0;
  }
}
