.ads-form {
  // Предварительный просмотр основного изображения
  .main-image-preview {
    position: relative;
    margin: 10px 0 15px 0;
    display: inline-block;

    img, .no-image {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
      border: 1.5px solid #ccc;
      display: block;
      background: #f3f3f3;
    }

    .no-image {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #999;
      font-size: 14px;
    }

    // Кнопка удаления основного изображения
    .remove-image-btn {
      position: absolute;
      right: .5rem;
      top: .5rem;
      background: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon-remove {
        color: #ff0000;
        font-size: 2rem;
        transition: color 0.15s;
        pointer-events: none;
      }

      &:hover .icon-remove,
      &:focus .icon-remove {
        color: #b80000;
      }
    }
  }

  // доп. изображения
  .additional-images-list {
    display: flex;
    justify-content: center;
    gap: .7rem;
    margin: 1rem 0;

    .img-thumb {
      position: relative;
      width: 80px;

      img {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        border-radius: 8px;
        border: 1.5px solid #ccc;
        background: #f4f4f4;
      }

      .remove-image-btn {
        position: absolute;
        right: -.7rem;
        top: -.7rem;
        background: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon-remove {
          color: #ff0000;
          font-size: 1.2rem;
          transition: color 0.15s;
          pointer-events: none;
        }

        &:hover .icon-remove,
        &:focus .icon-remove {
          color: #b80000;
        }
      }
    }
  }

  .upload-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px 0 15px 0;
    width: 100%;

    // Для label, если используется вместо button
    label.upload-btn {
      padding: 10px 20px;
      border-radius: 8px;
      border: solid 1px #ddd;
      background: $grey-gradient;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-weight: 600;
      font-size: 1.07rem;
      transition: background 0.18s, opacity 0.13s;

      &:hover, &:focus {
        background: $grey-gradient-hover;
      }
    }
    input[type="file"]:disabled + label.upload-btn {
      opacity: 0.55;
      cursor: not-allowed;
      border: none;
    }
  }
}
