// frontend/src/features/ads/styles/scss_ads-form/_inputs.scss
.ads-form {
  // Стили для всех input, textarea, select внутри .ads-form
  input[type="text"],
  input[type="number"],
  textarea,
  select {
    font-family: $font-general;
    box-sizing: border-box;
    background: #d4d4d2;
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 2.2rem;
    border: 1.5px solid #bbb;
    border-radius: 8px;
    transition: border 0.2s, box-shadow 0.2s;
    outline: none;

    &:focus {
      border-color: #4682f4;
      box-shadow: 0 0 0 1px #4682f4;
      background: #fff;
    }
  }

  // Стили только для textarea внутри .ads-form
  textarea {
    min-height: 70px;
    resize: vertical;
  }

  // Стили только для select внутри .ads-form
  select {
    background: #ece359;
    font-size: 1.5rem;
    font-family: $font-general;
  }

  // Стили для label внутри .ads-form
  label {
    font-size: 1.01rem;
    margin-bottom: 2px;
    display: block;             // Каждый label занимает всю строку
    font-weight: 500;
    color: #35405a;
  }
}
