@media (max-width: 599px) {
  .ads-form {
    padding: 16px 2vw 20px 2vw;
    max-width: 98vw;
    font-size: 0.99rem;
    gap: 13px;

    .main-image-preview img, .main-image-preview .no-image {
      width: 84px !important;
      height: 84px !important;
    }
    .additional-images-list .img-thumb img {
      width: 58px !important;
      height: 58px !important;
    }
    .additional-images-list .img-thumb {
      width: 58px !important;
    }
  }
}
