@media (max-width: 599px) {
  .ads-form {
    padding: 16px 2vw 20px 2vw;
    max-width: 98vw;
    font-size: 0.99rem;
    gap: 13px;

    .main-image-preview img, .main-image-preview .no-image {
      width: 100%;
    }
    .additional-images-list .img-thumb img {
      width: 3.625rem;
      height: 3.625rem;
    }
    .additional-images-list .img-thumb {
      width: 3.625rem;
    }
    
  }
  
}
