// front/src/features/auth/ui/Actions/actions.module.scss
@use '../../../shared/styles/mixins/mixins.scss' as mixins;

.actionsButtons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  button {
    border: mixins.$frame;
    padding: .5rem 1rem;
    border-radius: .5rem;
    background: mixins.$success;
    color: mixins.$main-text;
    box-shadow: mixins.$shadow;
    font-family: inherit;
    cursor: pointer;

    &:disabled {
      opacity: .6;
      cursor: not-allowed;
      background: mixins.$error;
    }
  }
}
