.ads-card {
  @include ads-card;

  h2 {
    font-size: 1.8rem;
    margin: 0 0 0.3rem 0;
    font-weight: 600;
  }

  .ads-category {
    @include grey;
  }
  .ads-description {
    font-size: 1rem;
    color: #444;
    margin-bottom: 0.3rem;
    flex: 1;
  }

  .item-right {
    margin-left: auto;
    display: block;
    text-align: right;
  }

  .ads-price {
    @include grey;
    font-size: 1.1rem;
  }
  .ads-location {
    font-size: 0.97rem;
    color: #888;
  }
  .ads-contact {
    font-size: 0.93rem;
    color: #666;
    display: flex;
    flex-direction: column;
  }
  .ads-date {
    font-size: 0.85rem;
    color: #bbb;
    margin-top: auto;
    align-self: flex-end; 
    text-align: right;
  }
}
