.hamburger-menu {
  position: relative;
}

.hamburger-icon {
  font-size: 50px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1001; // Убедитесь, что иконка выше меню
}

.menu-content {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: white;
  border-left: 1px solid #ccc;
  overflow: hidden;
  transition: width 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.open {
    width: 250px; // Ширина открытого меню
  }

  a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: black;
  }
}

.user-greeting {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.whatsapp-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #25D366; // Зеленый цвет WhatsApp
  font-weight: bold;
  font-size: 16px;

  &:hover {
    color: #128C7E; // Темно-зеленый цвет при наведении
  }
}

.telegram-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #0088cc; // Синий цвет Telegram
  font-weight: bold;
  font-size: 16px;

  &:hover {
    color: #006699; // Темно-синий цвет при наведении
  }
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.success-message {
  color: green;
  font-size: 16px;
  margin-bottom: 20px;
}
