@font-face {
  src: url("./Jura-Bold.ttf");
  font-family: "jura-bold";
}

@font-face {
  font-family: "ubuntusans";
  src: url("./UbuntuSans-Regular.ttf");
}

@font-face {
  font-family: "exo2";
  src: url("./Exo2-Regular.ttf");
}
