@use '../../shared/styles/mixins/main-mixins' as mixins;


.ownerPanelWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: .8rem;
}

.statusWrapper {
  display: flex;
  align-items: center;
  gap: .4rem;
  vertical-align: middle;
}

.statusCircle {
  font-size: 1.5rem;
  vertical-align: middle;
  position: relative;
  top: -.125rem;
  border-radius: 50%;
  &.statusActive {
    color: #1eff00;
    border: solid .15rem #ffffffa1;
  }
  &.statusInactive {
    color: red;
    border: solid .15rem #570000a1;
  }
}

.statusText {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  line-height: 1;
  display: flex;
  align-items: center;
}


.panelActions {
    @include mixins.iconActions;
    justify-content: flex-end;
}

.actionBtn {
  @include mixins.actionBtn;
}

