@use '../../shared/styles/mixins/main-mixins' as mixins;

.adsFeedContainer {
    @include mixins.feedContainer;

    .adsContent {
        margin: 1rem .5rem;
        padding-bottom: 1rem;

        .centerBtn {
            @include mixins.centerBtn;
        }

        .greyBtn {
            @include mixins.greyBtn;
        }
    }

    .error {
        @include mixins.errorLoad;
    }

    .adsGrid {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(4, 1fr);

        @media (max-width: 1023px) {
        grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 699px) {
        grid-template-columns: 1fr;
        }

        .adsCard {
            @include mixins.feedCard;

            .ads-description {
                font-size: 1rem;
                color: #444;
                margin-bottom: .3rem;
                flex: 1;
            }

            .item-right {
                margin-left: auto;
                display: block;
                text-align: right;
            }

            .ads-price {
                // @include mixins.grey;
                font-size: 1.1rem;
            }
            .ads-location {
                font-size: .97rem;
                color: #888;
            }
            .ads-contact {
                font-size: .93rem;
                color: #666;
                display: flex;
                flex-direction: column;
            }
            .ads-date {
                font-size: .85rem;
                color: #bbb;
                margin-top: auto;
                align-self: flex-end; 
                text-align: right;
            }
        }
    }
}
