// front/src/features/shared/styles/mixins/mixins.scss
@use '../variables';
@forward '../variables';

@mixin button-1 {
    padding: .5rem 1rem;
    border-radius: .5rem;
    background: #5865F2;
    color: variables.$main-text;
    font-family: inherit;
    cursor: pointer;
}

@mixin fields {
    .field {
        display: flex;
        flex-direction: column;
        margin-bottom: .875rem;

        label {
            font-size: .813rem;
            margin-bottom: .375rem;
        }

        input {
            border: variables.$frame;
            border-radius: .5rem;
            padding: .625rem .75rem;
            font-size: .875rem;
            outline: none;

            &:focus {
            border-color: variables.$frame;
            box-shadow: 0 0 0 3px #7a8cff33;
            }
        }
    }

    .fieldError {
        color: variables.$warning;
        margin-bottom: 1.625rem;
        font-size: .875rem;
        text-align: center;
    }
}

