// front/src/features/services/pages/serviceDetail.module.scss
@use '../../shared/styles/mixins/mixins.scss' as mixins;

.wrap {
  max-width: 980px;
  margin: 1rem auto 2.5rem;
  padding: 0 1rem;
}

.card {
  border-radius: .75rem;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0,0,0,.06);
}

.imageWrap {
  width: 100%;
  aspect-ratio: 1 / 1;
  background: #f6f7f9;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.imagePlaceholder {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    #f3f4f6,
    #f3f4f6 10px,
    #e5e7eb 10px,
    #e5e7eb 20px
  );
}

.content {
  padding: 1rem 1rem 1.25rem;
  background-color: mixins.$main-bg;
}

.title {
  font-size: clamp(1.25rem, 1rem + 1vw, 2rem);
  font-weight: 800;
  color: #fff;
  margin-bottom: .5rem;
}

.price {
  color: #fff;
  font-weight: 700;
  margin-bottom: .75rem;
  text-align: right;
}

.desc {
  color: #fff;
  line-height: 1.55rem;
  white-space: pre-wrap; /* если будут переносы/абзацы */
  text-align: justify; 
}

.center {
  max-width: 900px;
  margin: 2rem auto;
  color: #fff;
  text-align: center;
}

.centerError {
  max-width: 900px;
  margin: 2rem auto;
  color: #fecaca;
  text-align: center;
}
