.Toastify__toast--error {
    background: #2d1f2f;
    color: #fff;
    border-left: 8px solid #e74c3c;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: jura-bold;
}

.icon-price {
    color: white;
    margin-right: 0.7rem;
}
