.ads-page-container {
  margin: 1rem .5rem;
  padding: 1rem .5rem;
  max-width: 1920px;
  background-color: $main-bg;
  box-sizing: border-box;
  box-shadow: 0px 0px 9px 0px black;

  h1 {
    text-align: center;
  }

  .ads-content {
    margin: 1rem .5rem;
    padding-bottom: 1rem;
  }

  .ads-date {
    @include grey;
    position: absolute;
    right: 1rem;
    margin-top: .6rem;
  }

  .error {
    color: #e00;
    margin-bottom: 1rem;
  }

  @media (max-width: 399px) {
    .ads-date {
      font-size: 3rem;
    }
  }
}


