@use '../../shared/styles/mixins/main-mixins' as mixins;

.cardContent {
  font-family: mixins.$font-general;

    & > hr { /* или .postActions + hr, если нужно точечнее */ 
        border: 0;
        height: 2px;
        background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(29,115,115,1) 100%);
        opacity: 1;
    }  

  .cardContentAvatarImg {
      @include mixins.avatar;        
  }

  .userInfo {
      @include mixins.userInfo;
  }

  .userName {
      @include mixins.userName;
  }

  .postLink {
      text-decoration: none;
      color: inherit;
  }

  // FEED IMAGE STYLES
  .postImageWrapperFeed {
      @include mixins.imageWraperFeed;
  }

  .postFeedImg {
      @include mixins.feedImage;
  }

  // PAGE IMAGE STYLES
.postImageWrapperPage {
    width: 100%;
    min-height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .7rem;
    overflow: hidden;
    border-radius: .4rem;
    background: mixins.$secondary-light;
}

.postPageImg {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
    display: block;
    border-radius: 0.4rem;
    box-shadow: 0px -5px 21px 5px rgba(0,0,0,0.38);
    background: mixins.$secondary-light;
}

  .feedPostBody {
    margin: .6rem 0;
    font-size: 1rem;
    text-align: justify;
    padding: .5rem 1rem;
    color: #fff;
    filter: brightness(150%);
    white-space: pre-line; // базовое поведение на странице поста
    word-break: break-word;
    border-top: 1px solid transparent;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to left, #006363, #fff) 1;
  }

  /**
  * Модификатор для ленты: всегда одна строка + троеточие,
  * каретка не переносится, высота фиксирована на высоту строки.
  */
  .feedPostBodyOneLine {
    white-space: nowrap;      // одна строка
    overflow: hidden;         // обрезаем лишнее
    text-overflow: ellipsis;  // троеточие
    line-height: 1.2;         // контролируем высоту строки
    min-height: 1.2em;        // фиксируем высоту под единый вид карточек
  }

  .postActions {
    @include mixins.iconActions;
    justify-content: flex-end;
  }


  .actionBtn {
    @include mixins.actionBtn;
    &:hover {
            background: #fff;
            color: #000000;
        }
  }
}
