// frontend/src/features/posts/styles/form.module.scss
@use '../../shared/styles/mixins/main-mixins' as mixins;


.postFormHeading {
  @include mixins.form-heading;
}

.createEditContainer {
  @include mixins.input-form;
  input[type="text"],
  input[type="number"],
  textarea,
  select {
    @include mixins.inputs-areas;
    min-height: 5rem;
    margin-top: 0;
  }

  .centerBtn {
    @include mixins.centerBtn;
  }

  .formFieldError {
    @include mixins.formError;
    margin-top: .3rem;
  }

}

.createSaveBtn {
  @include mixins.greyBtn;
  font-family: inherit;
  &:hover {cursor: pointer;}

    &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    filter: grayscale(100%);
  }
}

.mainImagePreview {
    @include mixins.mainImagePreview
}

.postInputContainer {
  .centerBtn {
    @include mixins.centerBtn;
  }

  .createEditInputLabel{
    @include mixins.greyBtn;
      &:hover {cursor: pointer;}
  }
  
}