// front/src/features/auth/Pages/auth.module.scss
@use '../../shared/styles/mixins/mixins.scss' as mixins;

.formWrap {
  max-width: 26.25rem;
  margin: 2.5rem auto;
  padding: 1.5rem;
  border-radius: .75rem;
  background: mixins.$color-1;
  box-shadow: 0px 0px 11px -2px #123045;
}
