// frontend/src/features/shared/styles/mixins/_buttons.scss
@use '../variables';

@mixin greyBtn {
    display: inline-block;
    font-size: .95rem;
    color: #d1d1d1;
    margin-bottom: .2rem;
    border: solid 1px #000000;
    padding: .3rem .5em;
    border-radius: .4em;
    background: variables.$grey-gradient;
    text-decoration: none;
    &:hover {cursor: pointer;}
    font-family: variables.$font-general;
}

@mixin centerBtn {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
}

@mixin actionBtn {
    background: none;
    border: none;
    padding: 3px 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #c3cff9;
    border-radius: 7px;
    transition: background 0.16s, color 0.16s;
}

@mixin iconActions {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 100%;
}