// frontend/src/features/shared/styles/mixins/_images.scss
@use '../variables';

@mixin mainImagePreview {
    position: relative;
    margin: 10px 0 15px 0;
    display: inline-block;

    img, .no-image {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
      border: 1.5px solid #ccc;
      display: block;
      background: #f3f3f3;
    }

    .no-image {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #999;
      font-size: 14px;
    }

    .removeImageBtn {
      position: absolute;
      right: -1.4rem;
      top: -1.4rem;
      background: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

    .iconRemove {
        color: #ff0000;
        font-size: 2rem;
        transition: color 0.15s;
        pointer-events: none;
    }

        &:hover .iconRemove,
        &:focus .iconRemove {
            color: #b80000;
        }
    }
}

@mixin imageWraperFeed {
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: .7rem;
    overflow: hidden;
    border-radius: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: variables.$secondary-light;
}

@mixin feedImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: .4rem;
    box-shadow: 0px -5px 21px 5px rgba(0,0,0,0.38);
    background: variables.$secondary-light;
}